* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #000915;
    margin-left: 120px;
    margin-right: 120px;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
a {
    text-decoration: none;
  }
  
.heading {
    height: 1024px;
    background-image: url(image/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    padding-top: 217px;
    margin-right: 411px;
}

.top_text {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-right: 718px;
    padding-top: 32px;
}

.span {
    font-weight: 900;
}

.button {
    border-radius: 30px;
    background: #9C0332;
    width: 234.063px;
    height: 48.603px;
    color: #FFF;
    font-size: 18px;
    margin-top: 44px;
    border: 0;
}

.button:hover {
    color: #9C0332;
    background-color: #FFF;
}

.icons {
    padding-top: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  
}

.img {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    position: relative;
}

.img__text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
    padding-left: 32px;
    padding-bottom: 32px;
}

.img:hover {
    transform: scale(1.05);
}
  
.img_game {
    margin-top: 233px;
    margin-bottom: 233px;
}

.seasons {
    display: flex;
    flex-direction: row;
    gap: 135px;
    margin-bottom: 128px;
}

.seasons_text {
    margin-top: 276px;
}

.words {
    display: flex;
    flex-direction: row;
    gap: 135px; 
    margin-top: 515px;
}



.puzzles {
    text-align: center;
    margin-top: 515px;
    background-image: url(../image/puzzles.jpg);
}

.title_game {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 120px;
    margin-bottom: 32px;
}

.text_game {
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 32px;
margin-left: 120px;
margin-bottom: 32px;
}

.button_game {
border-radius: 30px;
background: #9C0332;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 234.063px;
height: 48.603px;
flex-shrink: 0;
margin-left: 120px;
border: 0;
}

.button_game:hover {
    color: #9C0332;
    background-color: #FFF;
  }

.img_game {
width: 485px;
height: 333px;
flex-shrink: 0;
margin-right: 120px;
}
  
  
@media (max-width: 375px) {
.title {
margin-left: 16px;
margin-right: 16px;
text-align: center;
font-size: 32px;
}

.heading {
background-image: url(image/bgmob.jpg);
height: 735px;
}

.top_text {
font-size: 14px;
font-weight: 300;
line-height: 22px;
display: flex;
text-align: center;
margin-right: 16px;
margin-left: 16px;
}

.button {
margin-left: 70px;
margin-right: 70px;
}

.game {
    background-image: url(image/bg2mob.jpg);
    height: 1221px;
}

.icons {
display: flex;
flex-direction: column;
padding-right: 16px;
padding-left: 16px;
}

.icon {
width: 343px;
}

.title_game {
    font-size: 32px;
    margin-left: 66px;
}

.text_game {
    line-height: 22px; 
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.button_game {
margin-left: 70px;
}

.img_game {
    width: 344px;
    height: 236px;
    margin-left: 16px;
}

.seasons {
    display: flex;
    flex-direction: column;
}

.games {
    width: 375px;
}
}


